<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" />
                </Class>
                <Class Id="{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" />
                </Class>
                <Class Id="{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{46D70636-5B84-3A9F-B5C5-B9911E057201}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" />
                </Class>
                <Class Id="{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{84ABE111-578F-3B87-ADEE-25F77BC06B9F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{942B4637-DD89-3BBA-A8BC-0609920EF034}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{961164F0-7E19-34BF-B063-A863BA84D10F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" />
                </Class>
                <Class Id="{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" />
                </Class>
                <Class Id="{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C37B9D4-7503-3F06-AE2C-284E3E6862A9}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D0CCDD0-9445-3B9C-AF9E-934DFDC218DA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2A9BB85A-FDE6-32BE-AA0A-EC1D6B85F1F6}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46D70636-5B84-3A9F-B5C5-B9911E057201}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{750CA7B8-FCEC-37CF-B945-3BE3D3CF1936}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{84ABE111-578F-3B87-ADEE-25F77BC06B9F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{942B4637-DD89-3BBA-A8BC-0609920EF034}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{961164F0-7E19-34BF-B063-A863BA84D10F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32\4.0.8135.23044" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E160E2F-3619-3FE7-BB99-8FF7005E4D6D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A60B2FCC-A0AF-3A1D-88E5-AF587F898AE7}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C0B71213-4E9E-3B78-96E0-75DAC9A24D4F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2A74800-E0B3-3FB5-AC15-7455E2149FFA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EAEABF83-96D6-39A0-BA1C-2B2AFDEAAE13}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD43BA0B-F0D1-3503-8858-3D73BCDEFECB}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{055A7BD4-6868-3FC0-86B7-A7919321C8F3}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagFormat" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{055A7BD4-6868-3FC0-86B7-A7919321C8F3}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{055A7BD4-6868-3FC0-86B7-A7919321C8F3}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{055A7BD4-6868-3FC0-86B7-A7919321C8F3}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{14D18B0D-1217-3B20-B700-C0D69136DEB0}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.PageSchemaPosition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{14D18B0D-1217-3B20-B700-C0D69136DEB0}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{14D18B0D-1217-3B20-B700-C0D69136DEB0}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{14D18B0D-1217-3B20-B700-C0D69136DEB0}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{17150252-C726-30DD-80DA-89809803171A}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{17150252-C726-30DD-80DA-89809803171A}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{17150252-C726-30DD-80DA-89809803171A}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{17150252-C726-30DD-80DA-89809803171A}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FA47748-611B-37AE-B40E-385EDE7A9CB9}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FA47748-611B-37AE-B40E-385EDE7A9CB9}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FA47748-611B-37AE-B40E-385EDE7A9CB9}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FA47748-611B-37AE-B40E-385EDE7A9CB9}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5CFCEFD3-B938-3C81-A748-0559CE528680}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagInputEventArgs+TaggingAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5CFCEFD3-B938-3C81-A748-0559CE528680}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5CFCEFD3-B938-3C81-A748-0559CE528680}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5CFCEFD3-B938-3C81-A748-0559CE528680}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7C4B5073-F46B-39A7-A01D-DE47CC887F90}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagDisplay" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7C4B5073-F46B-39A7-A01D-DE47CC887F90}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7C4B5073-F46B-39A7-A01D-DE47CC887F90}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7C4B5073-F46B-39A7-A01D-DE47CC887F90}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7E4EC69B-552E-3430-AF1F-38AF9AA763E4}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagProcessClassification" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7E4EC69B-552E-3430-AF1F-38AF9AA763E4}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7E4EC69B-552E-3430-AF1F-38AF9AA763E4}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7E4EC69B-552E-3430-AF1F-38AF9AA763E4}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AF61651D-17F7-38E4-97E6-F8660D2BE1DB}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AF61651D-17F7-38E4-97E6-F8660D2BE1DB}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AF61651D-17F7-38E4-97E6-F8660D2BE1DB}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AF61651D-17F7-38E4-97E6-F8660D2BE1DB}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CB8A4BCD-E803-3A61-A570-CF33547721F9}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CB8A4BCD-E803-3A61-A570-CF33547721F9}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CB8A4BCD-E803-3A61-A570-CF33547721F9}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CB8A4BCD-E803-3A61-A570-CF33547721F9}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D6E9033B-A894-3FF3-9D94-5696D96863F6}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D6E9033B-A894-3FF3-9D94-5696D96863F6}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D6E9033B-A894-3FF3-9D94-5696D96863F6}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D6E9033B-A894-3FF3-9D94-5696D96863F6}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F6B8AD2F-A202-3E33-9FC8-2AB97356A2A6}\4.0.8135.23044" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F6B8AD2F-A202-3E33-9FC8-2AB97356A2A6}\4.0.8135.23044" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8135.23044, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F6B8AD2F-A202-3E33-9FC8-2AB97356A2A6}\4.0.8135.23044" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F6B8AD2F-A202-3E33-9FC8-2AB97356A2A6}\4.0.8135.23044" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>