<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{35CFAAA2-3691-3B14-AE24-9121FC750F55}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{4080962A-E608-34AB-9DA8-E4779B2C9329}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" />
                </Class>
                <Class Id="{4F807AE6-96F6-3799-9582-451F3147FF84}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{6A1CFE6B-1588-377A-901D-409A795E999F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{74B51529-46DF-3BC9-A47B-A7AC88F890C6}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" />
                </Class>
                <Class Id="{8C89BB66-E03E-31CC-9756-1B3DE51A144D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" />
                </Class>
                <Class Id="{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{B8A29E1A-8E48-326B-8852-2F91414583F1}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" />
                </Class>
                <Class Id="{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25E22BCB-C0FA-3D0F-ABB0-9EEA1607F4F5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35CFAAA2-3691-3B14-AE24-9121FC750F55}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4080962A-E608-34AB-9DA8-E4779B2C9329}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4F807AE6-96F6-3799-9582-451F3147FF84}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5CD4928D-AB67-3842-A7C1-5FC7832B9A97}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A1CFE6B-1588-377A-901D-409A795E999F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{74B51529-46DF-3BC9-A47B-A7AC88F890C6}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8C89BB66-E03E-31CC-9756-1B3DE51A144D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B06AFC6D-9552-3A02-BDD6-8932D59AFE3D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32\3.0.6277.34465" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B8A29E1A-8E48-326B-8852-2F91414583F1}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FC07B3FE-58D3-3F93-BCB0-4BB01B3E536D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD96D796-9168-3EE0-8A42-4FB64B54C0AC}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{057B54D6-4915-3D3C-A26B-C0657058146D}\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{057B54D6-4915-3D3C-A26B-C0657058146D}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{057B54D6-4915-3D3C-A26B-C0657058146D}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{057B54D6-4915-3D3C-A26B-C0657058146D}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A65DBC1-A57E-3969-883A-E46170745FE1}\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A65DBC1-A57E-3969-883A-E46170745FE1}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A65DBC1-A57E-3969-883A-E46170745FE1}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A65DBC1-A57E-3969-883A-E46170745FE1}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8100DC94-BB68-3C7F-A09D-54C25AD52A84}\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8100DC94-BB68-3C7F-A09D-54C25AD52A84}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8100DC94-BB68-3C7F-A09D-54C25AD52A84}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8100DC94-BB68-3C7F-A09D-54C25AD52A84}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{829A0501-A682-3789-BA6E-A86D3626E138}\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{829A0501-A682-3789-BA6E-A86D3626E138}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{829A0501-A682-3789-BA6E-A86D3626E138}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{829A0501-A682-3789-BA6E-A86D3626E138}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C8767D66-3FA5-3812-93DD-CDB90DCBF529}\3.0.6277.34465" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C8767D66-3FA5-3812-93DD-CDB90DCBF529}\3.0.6277.34465" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6277.34465, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C8767D66-3FA5-3812-93DD-CDB90DCBF529}\3.0.6277.34465" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C8767D66-3FA5-3812-93DD-CDB90DCBF529}\3.0.6277.34465" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>