<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" />
                </Class>
                <Class Id="{107F5457-AD47-3E12-9F99-1E814AF48E72}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" />
                </Class>
                <Class Id="{1D39711D-19F8-358A-9918-8ACE65A52D1D}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" />
                </Class>
                <Class Id="{243F1C5B-5475-3658-BAC6-23F76E4B4B21}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{43BFEA15-F52C-3684-A394-35516DABDD83}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" />
                </Class>
                <Class Id="{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{A22579E9-2D51-39E8-854B-955B188ED7BF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" />
                </Class>
                <Class Id="{D5727B10-86E3-3DAD-B517-9327352876BA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07A76E5C-E09C-3DFE-AC16-A3FDF4EE1937}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107F5457-AD47-3E12-9F99-1E814AF48E72}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32\4.0.8132.30888" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1D39711D-19F8-358A-9918-8ACE65A52D1D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1E5E5104-1FEB-32F7-B678-45D31E6F1E55}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{243F1C5B-5475-3658-BAC6-23F76E4B4B21}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{256DE43C-47F7-3E8B-ADE8-BC7E891763E6}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{43BFEA15-F52C-3684-A394-35516DABDD83}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5BD73B58-29F6-3B21-8262-2FB30C7ACAA9}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A22579E9-2D51-39E8-854B-955B188ED7BF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C1A172B3-720C-339F-AB39-08B0D5B1CCC0}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA89C202-D985-3FA3-9ECD-9F1BED8CE674}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CE07720F-EF68-3E67-87BF-9A1905E4B7AA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D2BA8C0B-228F-36D4-ACB9-60D97E96224D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5727B10-86E3-3DAD-B517-9327352876BA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B06B2E8-A54D-3581-90F5-2916EFAF0B5A}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B06B2E8-A54D-3581-90F5-2916EFAF0B5A}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B06B2E8-A54D-3581-90F5-2916EFAF0B5A}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B06B2E8-A54D-3581-90F5-2916EFAF0B5A}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2CDD5297-5A61-312C-87BE-838F18637B03}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.PageSchemaPosition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2CDD5297-5A61-312C-87BE-838F18637B03}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2CDD5297-5A61-312C-87BE-838F18637B03}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2CDD5297-5A61-312C-87BE-838F18637B03}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4C5DED62-091F-377D-9283-52BA0CD69434}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagDisplay" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4C5DED62-091F-377D-9283-52BA0CD69434}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4C5DED62-091F-377D-9283-52BA0CD69434}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4C5DED62-091F-377D-9283-52BA0CD69434}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73176E3B-93DE-3F68-9D47-AE965FB32448}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73176E3B-93DE-3F68-9D47-AE965FB32448}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73176E3B-93DE-3F68-9D47-AE965FB32448}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73176E3B-93DE-3F68-9D47-AE965FB32448}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A33979E0-54AA-3814-9D16-504A75094842}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A33979E0-54AA-3814-9D16-504A75094842}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A33979E0-54AA-3814-9D16-504A75094842}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A33979E0-54AA-3814-9D16-504A75094842}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B9A17821-83FA-3667-97F7-07B2716CFD94}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagFormat" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B9A17821-83FA-3667-97F7-07B2716CFD94}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B9A17821-83FA-3667-97F7-07B2716CFD94}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B9A17821-83FA-3667-97F7-07B2716CFD94}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C604B0DC-EE77-3773-84BA-84EEF1517520}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C604B0DC-EE77-3773-84BA-84EEF1517520}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C604B0DC-EE77-3773-84BA-84EEF1517520}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C604B0DC-EE77-3773-84BA-84EEF1517520}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C9967EA6-7309-3F4C-B95C-03A0409F9300}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C9967EA6-7309-3F4C-B95C-03A0409F9300}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C9967EA6-7309-3F4C-B95C-03A0409F9300}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C9967EA6-7309-3F4C-B95C-03A0409F9300}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D0F7A9DA-EC7B-3107-BDA5-DF591370A314}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagInputEventArgs+TaggingAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D0F7A9DA-EC7B-3107-BDA5-DF591370A314}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D0F7A9DA-EC7B-3107-BDA5-DF591370A314}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D0F7A9DA-EC7B-3107-BDA5-DF591370A314}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EB679936-FAD3-3F09-B5FE-A3615D298AA1}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EB679936-FAD3-3F09-B5FE-A3615D298AA1}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EB679936-FAD3-3F09-B5FE-A3615D298AA1}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EB679936-FAD3-3F09-B5FE-A3615D298AA1}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8C0A1FD-9F70-3119-B20A-8089ECA6AC39}\4.0.8132.30888" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagProcessClassification" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8C0A1FD-9F70-3119-B20A-8089ECA6AC39}\4.0.8132.30888" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8132.30888, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8C0A1FD-9F70-3119-B20A-8089ECA6AC39}\4.0.8132.30888" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8C0A1FD-9F70-3119-B20A-8089ECA6AC39}\4.0.8132.30888" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>