<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" />
                </Class>
                <Class Id="{503E9FC3-622F-38DA-9D91-AFF932B51223}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" />
                </Class>
                <Class Id="{529D4946-20DD-31A0-AB06-F0D935417EC7}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{5700EA21-E0A7-388C-B003-AB7243C32ED5}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" />
                </Class>
                <Class Id="{85F52A02-EF21-34CD-B370-D9D4EF65C860}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{916F4946-B102-32AB-A05C-43A527FD47BD}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" />
                </Class>
                <Class Id="{EFAC303F-5D8A-3FCA-91F7-9576F211A831}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4DDA3CB8-48A5-34AF-A722-AFC6B0C30CD0}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{503E9FC3-622F-38DA-9D91-AFF932B51223}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{529D4946-20DD-31A0-AB06-F0D935417EC7}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{543BC9FE-8575-3523-B2A2-9C7C1731CF2B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5700EA21-E0A7-388C-B003-AB7243C32ED5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{85F52A02-EF21-34CD-B370-D9D4EF65C860}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{916F4946-B102-32AB-A05C-43A527FD47BD}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ABBB7F18-E633-3486-9EC2-8E3B2EBF7A8F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5CFF7B8-4C45-3EF5-989D-9E9F7B972ACA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D5C076C4-1CBB-3675-9A46-96ED7A392D3D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E7725EB9-54F1-310B-8D9F-E60796D6C7E4}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32\3.0.6250.37859" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EFAC303F-5D8A-3FCA-91F7-9576F211A831}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{029845FE-6827-3754-979F-727A49779899}\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{029845FE-6827-3754-979F-727A49779899}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{029845FE-6827-3754-979F-727A49779899}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{029845FE-6827-3754-979F-727A49779899}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{09CFE800-4418-3D92-B01F-F4A0F7751981}\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{09CFE800-4418-3D92-B01F-F4A0F7751981}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{09CFE800-4418-3D92-B01F-F4A0F7751981}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{09CFE800-4418-3D92-B01F-F4A0F7751981}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2A924C73-478E-3932-8DC0-1AAEC989CC7C}\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2A924C73-478E-3932-8DC0-1AAEC989CC7C}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2A924C73-478E-3932-8DC0-1AAEC989CC7C}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2A924C73-478E-3932-8DC0-1AAEC989CC7C}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9E7A49D3-70FF-3C1C-BAEA-D36FEB97DEC1}\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9E7A49D3-70FF-3C1C-BAEA-D36FEB97DEC1}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9E7A49D3-70FF-3C1C-BAEA-D36FEB97DEC1}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9E7A49D3-70FF-3C1C-BAEA-D36FEB97DEC1}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7951D78-D18E-3B98-AA27-5B11EE73BDD0}\3.0.6250.37859" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7951D78-D18E-3B98-AA27-5B11EE73BDD0}\3.0.6250.37859" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.37859, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7951D78-D18E-3B98-AA27-5B11EE73BDD0}\3.0.6250.37859" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7951D78-D18E-3B98-AA27-5B11EE73BDD0}\3.0.6250.37859" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>