<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{30D84E4F-662C-37EB-9157-329B2038B8D5}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{533E7759-29F1-3C54-9913-3D634623B842}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{54B800C3-29B3-3D75-B562-EFD834B6240A}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" />
                </Class>
                <Class Id="{6A08605E-FF09-3B50-A369-246218167398}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{795490B5-F5B9-3ED5-95A2-FDA66E05D002}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{9A81FD98-F697-3460-8F54-A21A06428F26}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{BC45549D-0DA4-309A-B49C-7CC74F901D05}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{C5A1C2F6-7457-32DB-A313-29E65428802C}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" />
                </Class>
                <Class Id="{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" />
                </Class>
                <Class Id="{C60ECACC-F648-3C69-B673-F86833059721}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" />
                </Class>
                <Class Id="{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{30D84E4F-662C-37EB-9157-329B2038B8D5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{533E7759-29F1-3C54-9913-3D634623B842}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{54B800C3-29B3-3D75-B562-EFD834B6240A}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6A08605E-FF09-3B50-A369-246218167398}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{795490B5-F5B9-3ED5-95A2-FDA66E05D002}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9A81FD98-F697-3460-8F54-A21A06428F26}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32\3.0.6250.34988" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC45549D-0DA4-309A-B49C-7CC74F901D05}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5A1C2F6-7457-32DB-A313-29E65428802C}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5B01C89-C41A-39C2-8EF2-0EACA8E10541}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C60ECACC-F648-3C69-B673-F86833059721}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CC4CA802-3CB1-3018-9ED4-7E7328AB6530}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4F7A5E1-DDFC-3786-B366-ED825B8DAEDB}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{323925F2-DB7D-31F6-94B4-6A771D229C84}\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{323925F2-DB7D-31F6-94B4-6A771D229C84}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{323925F2-DB7D-31F6-94B4-6A771D229C84}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{323925F2-DB7D-31F6-94B4-6A771D229C84}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5385C3A8-6687-3313-9501-12E86AB07174}\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5385C3A8-6687-3313-9501-12E86AB07174}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5385C3A8-6687-3313-9501-12E86AB07174}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5385C3A8-6687-3313-9501-12E86AB07174}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60533F1E-8266-3203-BCD1-35A45DC73A1A}\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60533F1E-8266-3203-BCD1-35A45DC73A1A}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60533F1E-8266-3203-BCD1-35A45DC73A1A}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60533F1E-8266-3203-BCD1-35A45DC73A1A}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D11D7698-FC09-328B-9101-043C898ED456}\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D11D7698-FC09-328B-9101-043C898ED456}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D11D7698-FC09-328B-9101-043C898ED456}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D11D7698-FC09-328B-9101-043C898ED456}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D8DF14FC-93B3-34FB-8252-B321E79AC62E}\3.0.6250.34988" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D8DF14FC-93B3-34FB-8252-B321E79AC62E}\3.0.6250.34988" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6250.34988, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D8DF14FC-93B3-34FB-8252-B321E79AC62E}\3.0.6250.34988" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D8DF14FC-93B3-34FB-8252-B321E79AC62E}\3.0.6250.34988" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>