<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0EF799BA-8704-375C-942F-AD121063A81B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" />
                </Class>
                <Class Id="{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" />
                </Class>
                <Class Id="{55E73B86-944C-3CB6-88DB-CF4F76EEF211}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{635A1E78-0A8F-3365-8ACC-C485B36FD440}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{7A3233A4-23B9-3789-81B7-26B24680FC9B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" />
                </Class>
                <Class Id="{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" />
                </Class>
                <Class Id="{BB69A836-1F05-3061-B520-8DAC44E5A677}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{C585C44F-64F6-3A5C-A778-2BF99E37B828}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF799BA-8704-375C-942F-AD121063A81B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3CCE3D7B-DB28-38DC-86F3-9E4C9C0D249D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55E73B86-944C-3CB6-88DB-CF4F76EEF211}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32\3.0.6253.31616" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{635A1E78-0A8F-3365-8ACC-C485B36FD440}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7A3233A4-23B9-3789-81B7-26B24680FC9B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7AF90E54-5E48-3C9E-BDD1-FE872AE39ED6}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82E4F8CC-1399-3B08-BE4C-DDCA1C06EFCC}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{96A5E262-48D5-32D2-BBF3-A6B85F8D1562}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BB69A836-1F05-3061-B520-8DAC44E5A677}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C585C44F-64F6-3A5C-A778-2BF99E37B828}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C5D8D9F6-BBF8-3E6A-AE18-D662B35E9D6E}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DD354056-4EE0-3CFD-ACA9-F099B3EE5D89}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD23A7B-AE36-39C0-8539-B1506C37A7AC}\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD23A7B-AE36-39C0-8539-B1506C37A7AC}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD23A7B-AE36-39C0-8539-B1506C37A7AC}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD23A7B-AE36-39C0-8539-B1506C37A7AC}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9255D25C-40EE-347C-AD54-63D7426960DB}\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9255D25C-40EE-347C-AD54-63D7426960DB}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9255D25C-40EE-347C-AD54-63D7426960DB}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9255D25C-40EE-347C-AD54-63D7426960DB}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AAAC146D-A680-38C2-B520-BBB4D9724471}\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AAAC146D-A680-38C2-B520-BBB4D9724471}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AAAC146D-A680-38C2-B520-BBB4D9724471}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AAAC146D-A680-38C2-B520-BBB4D9724471}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA679061-323E-3CAB-A753-4038EDA26E43}\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA679061-323E-3CAB-A753-4038EDA26E43}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA679061-323E-3CAB-A753-4038EDA26E43}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA679061-323E-3CAB-A753-4038EDA26E43}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F9BDA83D-BDF1-3EF3-9F73-5955E66F36BA}\3.0.6253.31616" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F9BDA83D-BDF1-3EF3-9F73-5955E66F36BA}\3.0.6253.31616" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6253.31616, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F9BDA83D-BDF1-3EF3-9F73-5955E66F36BA}\3.0.6253.31616" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F9BDA83D-BDF1-3EF3-9F73-5955E66F36BA}\3.0.6253.31616" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>