<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{1FA6E4AA-0927-30FC-9DAF-BD4824496212}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" />
                </Class>
                <Class Id="{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{46114902-9B4C-3F7E-9D7F-0B4147C644CA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" />
                </Class>
                <Class Id="{70640795-62BA-3669-AE01-FD94B07D3FDC}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{71603531-FBDA-34CD-8898-F0484F7CF9A0}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Description="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" />
                </Class>
                <Class Id="{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{C80EECEF-0844-3077-98D4-25E415C67441}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Description="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" />
                </Class>
                <Class Id="{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{E930204B-F45D-3B46-AB81-8916294EF6C4}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0B0EC65C-2635-3C23-B0F7-7D4412681FCF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1FA6E4AA-0927-30FC-9DAF-BD4824496212}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{23BA6B4F-E78F-3596-83DC-5996FB1FEB36}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{46114902-9B4C-3F7E-9D7F-0B4147C644CA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.nexus.RelatedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{62DFB084-076B-32EF-AA84-BE2B6E09C9E7}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32\3.0.6257.15479" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{70640795-62BA-3669-AE01-FD94B07D3FDC}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.HitHighlightedTagButtonModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{71603531-FBDA-34CD-8898-F0484F7CF9A0}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{97510BFC-F78D-3E1F-80E0-B5FBD6D40D2A}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.SuggestedTagDataContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C80EECEF-0844-3077-98D4-25E415C67441}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB79D082-93DD-3A99-B9D6-1AB4FB31781B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E3E4AC9E-7287-3649-8F91-C2B577D1FAC1}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E930204B-F45D-3B46-AB81-8916294EF6C4}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5D4DCF8F-AF90-37BF-B125-72AA4BD6680B}\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5D4DCF8F-AF90-37BF-B125-72AA4BD6680B}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5D4DCF8F-AF90-37BF-B125-72AA4BD6680B}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5D4DCF8F-AF90-37BF-B125-72AA4BD6680B}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6A3715DE-3F4F-39AF-8749-DE38E0B84090}\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6A3715DE-3F4F-39AF-8749-DE38E0B84090}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6A3715DE-3F4F-39AF-8749-DE38E0B84090}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6A3715DE-3F4F-39AF-8749-DE38E0B84090}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7D6BCEF7-30B8-3585-940E-BC747E856C62}\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7D6BCEF7-30B8-3585-940E-BC747E856C62}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7D6BCEF7-30B8-3585-940E-BC747E856C62}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7D6BCEF7-30B8-3585-940E-BC747E856C62}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C7E001AD-B135-31AB-8372-8E287A3D5826}\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C7E001AD-B135-31AB-8372-8E287A3D5826}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C7E001AD-B135-31AB-8372-8E287A3D5826}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C7E001AD-B135-31AB-8372-8E287A3D5826}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8379B07-8293-376D-BE75-B7F88A2216C8}\3.0.6257.15479" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8379B07-8293-376D-BE75-B7F88A2216C8}\3.0.6257.15479" Name="Assembly" Value="OneNoteTaggingKit, Version=3.0.6257.15479, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8379B07-8293-376D-BE75-B7F88A2216C8}\3.0.6257.15479" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F8379B07-8293-376D-BE75-B7F88A2216C8}\3.0.6257.15479" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>