<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WetHatLab.OneNote.TaggingKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <WetHatLab.OneNote.TaggingKit.Properties.Settings>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagOutlineStyle_Name" serializeAs="String">
        <value>PagetagsStyle</value>
      </setting>
      <setting name="TagOutlineStyle_Font" serializeAs="String">
        <value>Calibri, 9pt, style=Bold</value>
      </setting>
      <setting name="TagEditorWindow_Width" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="TagEditorWindow_Height" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TagManagerWindow_Width" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="TagManagerWindow_Height" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DefaultScope" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TagSearchWindow_Width" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="TagSearchWindow_Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="TagSearchWindow_Left" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TagSearchWindow_Top" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SearchHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchHistory_Size" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TagEditorWindow_Left" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TagEditorWindow_Top" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TagEditorAlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagSearchAlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseWindowsSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagFormatting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TagDisplay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportOneNoteTagMarker" serializeAs="String">
        <value>📑</value>
      </setting>
      <setting name="ImportHashtagMarker" serializeAs="String">
        <value>📜</value>
      </setting>
      <setting name="MapOneNoteTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MapHashTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomPresets" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="KnownTagsCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </WetHatLab.OneNote.TaggingKit.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
